.card {
  color: black;
}
#ingredient {
  font-size: small;

}
.table>:not(caption)>*>* {
  border-bottom: none;
}
table{
  background-color: #171C32;
}
th, td, th:hover, td:hover{
  color: #E5E8F2;
}
.rows:hover{
  background-color:#1F2746;
}
Form{
  background: rgb(23,28,50);
  background: linear-gradient(90deg, rgba(23,28,50,1) 30%, rgba(23,28,50,0) 100%);
}
#add-ingredient, #submit-recipe, button.dropdown-toggle.btn.btn-secondary{
background-color: #171C32;
border-color: #171C32;
}
