ul{
    list-style: none;
    font-size: 64px;
}
li{
    max-width: 100vw;
    max-height: 150px;
    min-height: 130px;
    background-color:linear-gradient(.25turn, #171C32 10%, #171c328e);
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
li > img {
    margin-left: 50px;
}
