h1{
  text-align: left;
  font-style: italic;
  color: antiquewhite;
  text-shadow: #08ce04;
}
#navigation_container{
  background-color:#1F2746;
  color: #E5E8F2;
}
#nav_planner {
  background-color: #fff496;
  color: #171c32;
  margin-right: 10px;
}
#nav_recipes {
  background-color: #ffac60;
  color: #171c32;
  margin-right: 10px;
}
#nav_pantry {
  background-color: #80f57e;
  color: #171c32;
  margin-right: 10px;
}
#nav_shopping {
  background-color: #7cd7f3;

}
#nav_container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  filter: drop-shadow(0 0 0.75rem #171c32);
  background-color: #171c32;
  
}